<div class="sidebar">
  <div class="m-card creat-room">
    <a (click)="showDialog = true"><i class="fa fa-plus-square-o"></i> 创建聊天室</a>
  </div>
  <div class="m-list">
      <ul>
          <li *ngFor="let item of roomList" (click)="toChatRoomFn(item)">
            <span>{{ item.roomName }}</span>
          </li>
      </ul>
    </div>
</div>

<div class="main">
  <!-- 选择参与聊天人员 -->
  <div class="choose-card" *ngIf="chooseUser_div">
    <div el-row gutter="20" class="choose-row">
      <div el-col [span]="12" class="choose-col border-right">
        <ul>
          <li *ngFor="let item of allUserLength" class="text item choose-list">
            <p><el-checkbox [model]="item.checked" (modelChange)="chooseUserFn($event,item)"><span style="margin-left:50px; ">{{ item.userName }} </span></el-checkbox> </p>
          </li>  
        </ul>
      </div>
      <div el-col [span]="12" class="choose-col">
          <div>已选联系人</div>
          <ul>
            <li *ngFor="let item of choosedUser" class="text item">
              <p style="padding: 8px;"><span>{{ item.userName }}</span>  <span class="fr el-icon-circle-close" (click)="removeFn(item)"></span></p>
            </li> 
          </ul>
        </div>
    </div>

    <div style="text-align: right;">
        <el-button type="primary" (click)="chooseChatUserFn()">开始群聊</el-button>
    </div>
  </div>

  <chat-message-list *ngIf="chat_div" [chatType]="'groupchat'" [targetSelectData]="targetSelectData" (hasNewMsgEmit)="getHasNewMsg($event)"></chat-message-list>
    
</div>
<el-dialog [title]="'创建聊天室'" [(visible)]="showDialog">
  <p>
    <el-input [(model)]="thisRoomName" placeholder="请输入聊天室的名字"></el-input>
  </p>
  <ng-template #footer>
    <el-button (click)="creatChatRoomFn()">创建</el-button>
  </ng-template>
</el-dialog>