.creat-room {
  text-align: center;
}
.creat-room a {
  color: #fff;
}
.border-right{
  border-right: 1px solid #e7e7e7; 
  
}
.fr{
  float: right;
}
.choose-card{
  padding: 32px 32px 5px 32px;
  height: 90%;
}
.choose-list p{
  margin: 0;
  padding: 10px 5px;
  border-radius: 3px;
}
.choose-list p:hover,
.choose-list p:active{
  background: #ececec;
}
.choose-row{
  height: 100%;
}
.choose-col{
  height: 100%;
  overflow: auto;
}