<div class="sidebar">
    <div class="m-card">
      <footer>
          <input class="search" type="text" placeholder="搜索">
      </footer>
    </div>
    <div class="m-article">
      <ul>
        <li><a href="#"> <i class="fa fa-plus-square-o"></i> 全部收藏</a></li>
        <li><a href="#"> <i class="fa fa-file-o"></i> 文件</a></li>
        <li><a href="#"> <i class="fa fa-picture-o"></i> 相册</a></li>
        <li><a href="#"> <i class="fa fa-unlink"></i> 链接</a></li>
        <li><a href="#"> <i class="fa fa-music"></i> 音乐</a></li>
        <li><a href="#"> <i class="fa fa-map-o"></i> 标签</a></li>
      </ul>
    </div>
</div>

<div class="main"></div>