<div class="sidebar">
  <div class="m-card">
    <h3>{{ selfData.clientName }}</h3>
    <footer>
        <input class="search" type="text" placeholder="搜索">
    </footer>
  </div> 
  <div class="m-list">
    <ul>
        <li *ngFor="let item of userList" [ngClass]="item.clientId == targetSelectData.clientId ? 'active' : ''" (click)="select(item)">
            <!-- <img class="avatar" width="30" height="30" [alt]="item.clientId" src="/assets/images/1.jpg"> -->
            <span class="avatar-color avatar-color0">{{ item.clientName | slice:0:1}}</span>
            <span class="message-num" *ngIf="hasNewMsg[item.clientId] > 0">{{ hasNewMsg[item.clientId] }}</span>
            <p class="name" [ngClass]="!item.online?'gray':''">{{item.clientName}}</p>
            
        </li>
    </ul>
  </div>
</div>
<!-- 右侧 -->
<div class="main">
    <chat-message-list [chatType]="'chat'" [targetSelectData]="targetSelectData" (hasNewMsgEmit)="getHasNewMsg($event)"></chat-message-list>
</div>