/* 人员列表 */
.m-list li {
  padding: 12px 15px;
  border-bottom: 1px solid #292C33;
  cursor: pointer;
  transition: background-color .1s;
}
.m-list li:hover {
  background-color: rgba(255, 255, 255, 0.03);
}
.m-list li.active {
  background-color: rgba(255, 255, 255, 0.1);
}
.m-list .avatar, .name {
  vertical-align: middle;
}
.m-list .avatar {
  border-radius: 2px;
}
.m-list .name {
  display: inline-block;
  margin: 0 0 0 15px;
}

/* .item-avatar{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #9c9797
} */

.message-num{
  max-width: 24px;
  max-height: 24px;
  min-width: 18px;
  min-height: 18px;
  display: inline-block;
  background: #ff0000;
  /* padding: 5px; */
  border-radius: 50%;
  font-size: 10px;
  /* line-height: 10px; */
  text-align: center;
  position: relative;
  top: -16px;
  left: -10px;
}