/* 人员列表 */
.m-list li {
  padding: 12px 15px;
  border-bottom: 1px solid #292C33;
  cursor: pointer;
  transition: background-color .1s;
}
.m-list li:hover {
  background-color: rgba(255, 255, 255, 0.03);
}
.m-list li.active {
  background-color: rgba(255, 255, 255, 0.1);
}
.m-list .avatar, .name {
  vertical-align: middle;
}
.m-list .avatar {
  border-radius: 2px;
}
.m-list .name {
  display: inline-block;
  margin: 0 0 0 15px;
}
.toolbar-a{
  color: #9c9797;
  font-size: 24px;
  text-decoration: none;
  margin: 0 12px;
}
.toolbar-a:hover{
  color: #07b907;
}

/* .item-avatar{
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #9c9797
} */
