
.sidebar {
  height: 100%;   
  float: left;
  width: 200px;
  color: #f4f4f4;
  background-color: #2e3238;
}
.m-card{
  padding: 12px;
  border-bottom: solid 1px #24272C;
}
.m-card footer {
  margin-top: 10px;
}

.m-card .avatar, .name {
  vertical-align: middle;
}
.m-card .avatar {
  border-radius: 2px;
}
.m-card .name {
  display: inline-block;
  margin: 0 0 0 15px;
  font-size: 16px;
}
.m-card .search {
  padding: 0 10px;
  width: 100%;
  font-size: 12px;
  color: #fff;
  height: 30px;
  line-height: 30px;
  border: solid 1px #3a3a3a;
  border-radius: 4px;
  outline: none;
  background-color: #26292E;
}




.m-list li {
  padding: 12px 15px;
  border-bottom: 1px solid #292C33;
  cursor: pointer;
  transition: background-color .1s;
}
.m-list li:hover {
  background-color: rgba(255, 255, 255, 0.03);
}
.m-list li.active {
  background-color: rgba(255, 255, 255, 0.1);
}
.m-list .avatar, .name {
  vertical-align: middle;
}
.m-list .avatar {
  border-radius: 2px;
}
.m-list .name {
  display: inline-block;
  margin: 0 0 0 15px;
}